# Environments
.env
.venv/
venv/
__pycache__/

# Node
node_modules/
.next/

# DB Data
pgdata/

# ML artifacts
backend/ml/models/

# Logs
logs/

# IDEs
.vscode/
.idea/
.codex
*.swp
*.swo
*.save
# OS Files
.DS_Store
Thumbs.db

#Blueprints
blueprints

backend/ml/models/
backend/ml/data/*.csv
